$black-300: #ceced4;
$black-200 : #161618;
$white : white;

$gray : #999;
$gray-400 : rgb(112, 111, 111);
$purple-700 : #250844;
$purple-500 : #4B1188;
$purple : #741AD4;
$purple-200 : #8C37E6;
$purple-50 : #9E57EA;


$gradient : linear-gradient(179deg, #CECED4 0%, #CECED4 0%, #B38BE1 99.99%, rgba(158, 87, 234, 0.51) 50%);

