@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&family=Sora:wght@300;400;500;600;700&display=swap');

$title : 50px;
$sora : 'Sora', sans-serif;
$poppins : 'Poppins', sans-serif;

$light : 300;
$normal : 400;
$medium : 500;
$semibold : 600;
$bold : 700;